header {
    background-color: #f3e9f1!important;
}
.navbar-expand-lg {
    justify-content: space-around;
}
.container-fluid {
    max-width: 1500px;
    padding: 0;
}
.card-image {
    width: 100%;
    height: 300px;
}