/* index*/

header {
    background-color: #f3e9f1!important;
}
.navbar-expand-lg {
    justify-content: space-around;
}
.nav-link:hover {
    border: black 2px solid;
}
.container-fluid {
    max-width: 1500px;
    padding: 0;
}
.card-image {
    width: 100%;
    height: 300px;
    border-radius: 17px 17px 0px 0px;
    object-fit: cover;
}
.card {
    border: #f3e9f1 solid 15px;
    border-radius: 20px;
    background-color: #f3e9f1;
    margin: auto;

}
a{
    text-decoration: none!important;
    color: black;
}
.card:hover {
    transform: scale(1.02);
    transition: 250ms ease-in-out;
}
.list-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    background-color: #f3e9f1;
    padding-top: 30px!important;
    margin-top: 50px!important;
}

/* product */

.color {
    height: 50px; 
    cursor: pointer;     
}
.color:hover {
    transition: 250ms ease;
    transform: scale(1.1);
}
.teddyCard {
    border: #f3e9f1 solid 20px;
    background-color: #f3e9f1;
    margin: auto;
    margin-bottom: 30px;
}